// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*----- Index -----*//
.album-page-bg {
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: rgb(27, 39, 56);
}
/*---- Preview NewPage ----*/
.preview {
  width: 200px;
  height: 100px
}
li {
  list-style: none;
}
.album-new-form {
  margin: 0 auto;
  height: 800px;
  background-image: url(img/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    text-align: center;
    color: white;
  }
  &__book {
    margin: 0 20px 0 70px;
    height: 620px;
    width: 90%;
    background-color: #004400;
    border: 3px solid #000000;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
  }
  &__image {
    margin: 0 auto;
    padding: 20px 5px 5px 20px;
    height: 620px;
    width: 100%;
    border-right: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    background-color: #004400;
    &--content {
      margin-top: 20px;
      margin-right: 10px;
      padding-top: 50px;
      padding-left: 50px;
      height: 550px;
      background-color: #ddd;
    }
  }
  &__others {
    padding: 20px 5px 5px 20px;
    height: 620px;
    width: 100%;
    border-left: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    background-color: #004400;
    &--content {
      margin-top: 20px;
      margin-right: 10px;
      padding: 50px;
      height: 550px;
      background-color: #ddd;
    }
  }
}

//*----- Edit Page -----*//
.album-select input {
  margin-bottom: 20px;
}
.album-select label {
  margin-left: 15px;
  font-size: 15px;
  color: #ddd;
}

//----- Post Browse Modal
#js-post-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}

.modal-post-box {
  width: 100%;
  height: calc(100% - 30px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-post-form {
  margin: 80px auto;
  height: 800px;
  width: 90%;
  background-color: rgb(74, 116, 143);
  color: #333;
  &__title {
    padding-left: 50px;
    &--btn {
      margin-top: 30px;
    }
  }
  &__title button {
    border-radius: 50%;
  }
  &__form {
    padding-left: 50px;
    &--btn {
      margin-top: 30px;
    }
  }
}

//----- Post Modal Partial
.post-edit-box {
    margin: 10px auto;
  &__image {
    width: 100%;
    height: 75px;
    border: 3px solid #333;
    border-radius: 50px 50px 0 0 / 50px 50px;
    &--pic {
      width: 100%;
      height: 75px;
      border-radius: 50px 50px 0 0 / 50px 50px;
    }
  }
  &__detail {
    margin-bottom: 20px;
    width: 100%;
    height: 115px;
    border: 1px solid #333333;
    background: #ccc;
    color: #222;
  }
  &__detail-element {
    height: 75px;
  }
  &__detail-element-others {
    padding: 10px 0 0 5px;
    &--title {
      padding-bottom: 5px;
      margin-bottom: 5px;
      margin-right: 10px;
      border-bottom: 1px solid #777;
    }
    &--title {
      font-size: 10px;
    }
    &--genre {
      margin-bottom: 3px;
      font-size: 10px;
    }
    &--pref {
      margin-bottom: 3px;
      font-size: 10px;
    }
    &--time {
      margin-bottom: 3px;
      font-size: 10px;
    }
  }
  &__detail-icon {
    margin-top: 10px;
  }
  &__detail-icon-like {
    &--icon {
      margin-left: 10px;
    }
    &--count {
      margin-left: 10px;
    }
  }
  &__detail-icon-comment {
    &--icon {
    }
    &--count {
    }
  }
}

//----- Album Partial
.album-index-box {
    margin: 10px auto;

  &__book {
    margin: 0 10px 0 10px;
    height: 305px;
    width: 100%;
    background-color: #004400;
    border: 3px solid #000000;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
  }
  &__image {
    margin: 0 auto;
    padding: 5px 3px 3px 5px;
    height: 300px;
    width: 100%;
    border-right: 3px solid #000000;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    background-color: #004400;
    &--content {
      margin-top: 3px;
      margin-bottom: 3px;
      height: 280px;
      background-color: #ddd;
    }
    &--pic {
      padding-top: 50px;
      margin-bottom: 30px;
    }

  }

  &__detail {
    margin: 0 auto;
    padding: 5px 3px 3px 5px;
    height: 300px;
    width: 100%;
    border-left: 3px solid #000000;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    background-color: #004400;
    &--content {
      margin: 1px;
      height: 280px;
      background-color: #ddd;
    }
  }
  &__detail-element {
    height: 150px;
  }
  &__detail-element-name {
      padding-top: 5px;
      height: 30px;
      font-weight: bold;
      font-size: 15px;
  }
  &__detail-element-others {
    padding: 10px 0 0 5px;
    &--title {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid #777;
    }
    &--item {
      margin-bottom: 5px;
    }
    &--genre {
      margin-bottom: 10px;
    }
    &--budget {
      margin-bottom: 10px;
    }
  }
  &__detail-icon {
    margin-top: 5px;
  }
  &__detail-icon-bookmark {
    &--icon {
    }
    &--count {
    }
  }
}
