// Place all the styles related to the analyses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jp-data {
  &__title {
    margin: 20px 0 20px 0;
  }
  &__box {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 40px;
    height: 800px;
    width: 90%;
    background-color: #b0c4de;
  }
  &__rank-unit {
    margin-bottom: 50px;
    height: 200px;
  }
  &__area-rank {
  }
  &__area-rank-icon {
  }
  &__area-rank-img {
  }
  &__area-rank-name {
    font-weight: bold;
  }

  &__genre-rank {
  }
  &__genre-rank-icon {
  }
  &__genre-rank-img {
  }
  &__genre-rank-name {
    font-weight: bold;
  }

  &__budget-rank {
  }
  &__budget-rank-icon {
  }
  &__budget-rank-img {
  }
  &__budget-rank-name {
    padding-top: 30px;
    font-weight: bold;
    font-size: 40px;
  }
}

.others-data {
  &__title {
    margin: 20px 0 20px 0;
  }
  &__box {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 40px;
    height: 800px;
    width: 90%;
    background-color: #b0c4de;
  }
  &__rank-unit {
    margin-bottom: 50px;
    height: 200px;
  }
  &__area-rank-name {
    font-weight: bold;
  }
  &__genre-rank-name {
    font-weight: bold;
  }
  &__budget-rank-name {
    padding-top: 30px;
    font-weight: bold;
    font-size: 40px;
  }
}

//----- genre-image
.genre-img {
  margin: 10px 30px 10px 0;
  &__1:before {
    font-family: "FontAwesome";
    content:"\f410";
    font-size: 70px;
    color: #5d99ff;
  }
  &__2:before {
    font-family: "FontAwesome";
    content:"\f004";
    font-size: 70px;
    color: red;
  }
  &__3:before {
    font-family: "FontAwesome";
    content:"\f007";
    font-size: 70px;
    color: #000099;
  }
  &__4:before {
    font-family: "FontAwesome";
    content:"\f07a";
    font-size: 70px;
    color: #b6ff01;
  }
  &__5:before {
    font-family: "FontAwesome";
    content:"\f64f";
    font-size: 70px;
    color: #ff8856;
  }
  &__6:before {
    font-family: "FontAwesome";
    content:"\f21c";
    font-size: 70px;
    color: #2f4f4f;
  }
  &__7:before {
    font-family: "FontAwesome";
    content:"\f2e7";
    font-size: 70px;
    color: #778899;
  }
  &__8:before {
    font-family: "FontAwesome";
    content:"\fce";
    font-size: 70px;
    color: #00ecff;
  }
  &__9:before {
    font-family: "FontAwesome";
    content:"\f1b9";
    font-size: 70px;
    color: #880000;
  }
  &__10:before {
    font-family: "FontAwesome";
    content:"\f6fc";
    font-size: 70px;
    color: #008800;
  }
}

//----- map-image
.map-img {
  margin: 10px 30px 10px 0;
  &__1 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_hokkaido.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__2 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_aomori.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__3 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_iwate.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__4 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_miyagi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__5 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_akita.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__6 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_yamagata.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__7 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_fukushima.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__8 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_ibaraki.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__9 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_tochigi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__10 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_gunma.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__11 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_saitama.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__12 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_chiba.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__13 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_tokyo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__14 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_kanagawa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__15 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_niigata.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__16 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_toyama.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__17 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_ishikawa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__18 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_fukui.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__19 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_yamanashi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__20 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_nagano.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__21 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_gifu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__22 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_sizuoka.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__23 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_aichi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__24 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_mie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__25 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_shiga.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__26 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_kyoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__27 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_osaka.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__28 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_hyogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__29 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_nara.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__30 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_wakayama.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__31 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_tottori.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__32 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_shimane.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__33 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_okayama.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__34 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_hiroshima.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__35 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_yamaguchi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__36 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_tokushima.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__37 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_kagawa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__38 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_ehime.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__39 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_kochi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__40 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_fukuoka.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__41 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_saga.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__42 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_nagasaki.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__43 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_kumamoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__44 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_oita.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__45 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_miyazaki.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__46 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_kagoshima.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__47 {
    height: 100px;
    width: 80%;
    background-image: url(img/map_okinawa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
