// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-detail {
  margin-top: 20px;
  &__btn {
    margin-top: 50px;
  }
  &__btn-text {
  }
}
.event-detail-box {
  &__title {
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    padding: 0.25em 1em;
    background-color: #add8e6;;
    border: solid 2px black;
    border-radius: 3px 0 3px 0;
  }
  &__title:before, &__title:after {
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px black;
    border-radius: 50%;
  }
  &__title:before {
    bottom:-12px;
    right:-12px;
  }
  &__title:after {
    top:-12px;
    left:-12px;
  }
  &__content {
    margin-top: 10px;
    margin-left: 200px;
    font-weight: bold;
    font-size: 30px;
  }
}
