// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//--------- Genre Index ---------//
.padding-3 {
  padding: 3px;
}
.genre-change-list {
  &__boxes {
    margin: 0 auto;
  }
  &__box {
    height: 200px;
  }
  &__icon {
  }
  &__text {
    color: white;
  }
}
#box-1 {
  background-color: #ff1493;
}
#box-2 {
  background-color: #da70d6;
}
#box-3 {
  background-color: #0000cd;
}
#box-4 {
  background-color: #ffd700;
}
#box-5 {
  //background-color: pink;
  padding: 0.5em 1em;
  background: -moz-linear-gradient(#2c7cff, #bad3ff);
  background: -webkit-linear-gradient(#2c7cff, #bad3ff);
  background: linear-gradient(#2c7cff, #bad3ff);
  //background: -moz-linear-gradient(#ffb03c, #ff708d);
  //background: -webkit-linear-gradient(#ffb03c, #ff708d);
  //background: linear-gradient(to right, #ffb03c, #ff708d);
  color: #FFF;
}
#box-6 {
  background-color: #ff6347;
}
#box-7 {
  background-color: #4b0082;
}
#box-8 {
  background-color: #ffad90;
}
#box-9 {
  background-color: #8fbc8f;
}

.genre-post-rank {
  margin: 0 auto;
  height: 400px;
  &__margin-bottom {
    margin-bottom: 20px;
  }
  &__number {
    padding-left: 10px;
  }
  &__left-box {
    margin: 0 auto;
  }
  &__image-box {
    width: 100%;
    height: 70px;
    border: 3px solid #333333;
    text-align: center;
  }
  &__icon {
    width: 100%;
    height: 70px;
  }
  &__icon-box {
    padding: 5px;
    width: 100%;
    height: 60px;
    border: 3px solid #333333;
    text-align: center;
    background-color: #2f4f4f;
  }
  &__like-icon {
  }
  &__like-count {
  }
  &__comment-icon {
  }
  &__comment-count {
  }
  &__bookmark-icon {
    padding: 10px;
  }
  &__bookmark-count {
    padding: 10px;
  }
}

//--------- Age ---------//
.age-icon {
  height: 300px;
  width: 100%;
  &__1 {
    margin: 20px;
    height: 300px;
    width: 100%;
    background-image: url('img/age_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__2 {
    margin: 20px;
    height: 300px;
    width: 100%;
    background-image: url('img/age_2.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__3 {
    margin: 20px;
    height: 300px;
    width: 100%;
    background-image: url('img/age_3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__4 {
    margin: 20px;
    height: 300px;
    width: 100%;
    background-image: url('img/age_4.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__5 {
    margin: 20px;
    height: 300px;
    width: 100%;
    background-image: url('img/age_5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__6 {
    margin: 20px;
    height: 300px;
    width: 100%;
    background-image: url('img/age_6.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__7 {
    margin: 20px;
    height: 300px;
    width: 100%;
    background-image: url('img/age_7.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__default {
    margin: 20px;
    height: 300px;
    width: 100%;
    background-image: url('img/age_default.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
}

//--------- Budget ---------//
.budget-icon {
  height: 300px;
  width: 100%;
  &__1 {
    margin: 20px;
    height: 450px;
    width: 100%;
    background-image: url('img/under.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__2 {
    margin: 20px;
    height: 450px;
    width: 100%;
    background-image: url('img/yen.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__3 {
    height: 450px;
    width: 100%;
    background-image: url('img/3yen.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__4 {
    height: 450px;
    width: 100%;
    background-image: url('img/5yen.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
  &__5 {
    height: 450px;
    width: 100%;
    background-image: url('img/7yen.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__6 {
    margin: 20px;
    height: 450px;
    width: 100%;
    background-image: url('img/10yen.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__7 {
    margin: 20px;
    height: 450px;
    width: 100%;
    background-image: url('img/20yen.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__8 {
    margin: 20px;
    height: 450px;
    width: 100%;
    background-image: url('img/30yen.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__9 {
    margin: 20px;
    height: 450px;
    width: 100%;
    background-image: url('img/40yen.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__10 {
    height: 450px;
    width: 100%;
    background-image: url('img/over.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__default {
    height: 450px;
    width: 100%;
    background-image: url('img/default_yen.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__question {
    height: 450px;
    width: 100%;
    background-image: url('img/q_yen.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

//--------- Nation ---------//
.nation-icon {
  &__1 {
    height: 450px;
    width: 100%;
    background-image: url('img/jp_flag.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__2 {
    height: 450px;
    width: 100%;
    background-image: url('img/nation_2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &__default {
    height: 450px;
    width: 100%;
    background-image: url('img/top_nation.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
