// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//-------- About Page --------
.about-wrapper {
  margin-top: 30px;
}
.title-row {
  width: 100%;
  height: 700px;
  position: relative;
  &__bg {
    width: 100%;
    height: 700px;
    background-image: url(img/about_mt.jpg);
    background-size: cover;
    background-position: top;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__row-title {
    width: 100%;
    margin: auto;
    text-align: center;
    color: red;
    font-size: 150px;
    font-family: 'Impact', Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
    line-height: 700px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  &__switch {
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
  }
  &__btn-box {
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    position: relative;
    border: 5px solid #fff;
    transition: .4s;
    &:hover {
      font-size: 20px;
      color: #000;
      background-color: #fff;
      border: 5px solid transparent;
    }
    &:hover:after,
    &:hover:before {
      transform: scale(1);
    }
    &:before {
      border-bottom: 5px solid #fff;
      border-left: 5px solid #fff;
      transform-origin: 100% 0%;
    }
    &:after {
      border-top: 5px solid #fff;
      border-right: 5px solid #fff;
      transform-origin: 0% 100%;
    }
    &:before, &:after {
      width: 100%;
      height: 100%;
      z-index: 3;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      transform: scale(0);
      transition: .2s;
    }
  }
  &__switch-container {
    text-align: center;
    background-color: #000;
  }
  &__btn-box2 {
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 12px 24px;
    position: relative;
    border: 5px solid #000;
    transition: .4s;
    &:hover {
      font-size: 20px;
      color: #fff;
      background-color: #000;
      border: 5px solid transparent;
    }
    &:hover:after,
    &:hover:before {
      transform: scale(1);
    }
    &:before {
      border-bottom: 5px solid #000;
      border-left: 5px solid #000;
      transform-origin: 100% 0%;
    }
    &:after {
      border-top: 5px solid #000;
      border-right: 5px solid #000;
      transform-origin: 0% 100%;
    }
    &:before, &:after {
      width: 100%;
      height: 100%;
      z-index: 3;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      transform: scale(0);
      transition: .2s;
    }
  }
  &__switch-container2 {
    text-align: center;
    background-color: #fff;
  }
  &__menu-box {
    font-size: 16px;
    z-index: 1;
    text-decoration: none;
    background: #ff8181;
    color: #fff;
    width: 80px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
    position: absolute;
    top: 20px;
    left: 0;
    &:hover {
      background: #ff3333;
      color: #FFF;
    }
    &:active {
      transform: translateY(2px);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
      border-bottom: none;
    }
  }
}
.global-nav {
  position: fixed;
  left: -320px;
  top: 0;
  width: 19vw;
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto;
  &__close {
    margin-left: 2em;
    margin-bottom: 5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    font-size: 100%;
    font-weight: bold;
    border: 1px solid #999;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    transition: .2s;
    &:hover {
      background: #333;
      border-color: #333;
      color: #FFF;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin-top: 30px;
    padding: 0 14px;
    font-size: 20px;
    text-align: center;
  }
  &__item a {
    display: block;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #111;
  }
  &__item a:hover {
    background-color: #eee;
  }
}
.black-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 80vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
.nav-open .global-nav {
  left: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .title-row__menu-box {
  transform: rotate(45deg);
  top: 20px;
}


.black-row {
  position: relative;
  color: white;
  height: 700px;
  font-family: 'Cinzel', serif;
  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(img/about_sky2.jpg);
    background-position: cover;
    background-size: bottom right;
  }
  &__bg {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.85;
  }
  &__left {
    margin-top: 90px;
    margin-left: 50px;
    &--pic1 {
    width: 100%;
    height: 150px;
    background-image: url(img/jp_flag.jpg);
    background-size: cover;
    background-position: center;
    }
    &--pic2 {
      width: 100%;
      height: 150px;
      margin-top: 50px;
      font-size: 100px;
    }
    &--pic3 {
      width: 100%;
      height: 150px;
      margin-top: 70px;
      font-size: 100px;
      transform: rotateY(180deg);
    }
    &--pic4 {
      width: 100%;
      height: 150px;
      margin-top: 50px;
      background-image: url(img/world_flag.jpg);
      background-size: cover;
      background-position: center;
    }
  }
  &__right {
    margin-top: 50px;
    &--line-title {
      margin-bottom: 50px;
      text-align: center;
    }
    &--row-title {
      font-size: 35px;
      color: red;
      font-size: 80px;
      font-family: 'Impact', Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
    }
    &--row-title2 {
      font-size: 35px;
      color: white;
    }
    &--line1 {
    }
    &--line2 {
      margin-top: 70px;
    }
    &--row-text {
      margin-top: 10px;
      text-align: center;
      font-size: 30px;
      position: relative;
      line-height: 1.4;
      display: inline-block;
    }
    &--part {
      margin-top: 5px;
      font-size: 17px;
    }
    &--row-text:before,
    &--row-text:after {
      position: relative;
      font-family: "FontAwesome";
      display: inline-block;
      font-size: 1.0em;
      color: white;
    }
    &--row-text:before {
      content:"\f100";
      padding-right: 0.5em
    }
    &--row-text:after {
      content:"\f101";
      padding-left: 0.5em
    }
  }
}
.slide-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slides {
  width: calc(100% * 5);
  height: 100%;
  position: relative;
  left: -100%;
}
#slide_0 {
  background-image: url(img/snow_board.jpg);
}
#slide_1 {
  background-image: url(img/shinjuku.jpg);
}
#slide_2 {
  background-image: url(img/sushi.jpg);
}
.slides-img {
  width: calc(100% / 5);
  height: 100%;
  float: left;
  background-position: center;
  background-size: cover;
  position: relative;
}
.slides-img__filter {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.3;
}

.slide-caption {
  width: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  right: 30%;
  bottom: 10%;
  z-index: 20;
  opacity: 0;
  font-family: 'Cinzel', serif;
}
.slide-caption__title {
  font-weight: bold;
  font-size: 7em;
  line-height: 1.05em;
}
.slide-caption__subtitle {
  font-size: 2.25em;
  line-height: 1.25em;
}
.slide-caption__text {
  font-size: 1.75em;
  line-height: 1.25em;
}
//------ Controls
.control {
  cursor: pointer;
  position: absolute;
  z-index: 20;
  top: calc(50% - 50px);
  padding: 15px;
  color: #fff;
  font-size: 3em;
  opacity: 0.5;
  &:hover {
    background-color: #fff;
    opacity: 0.5;
    color: #000;
    color: rgba(0,0,0,0.5);
  }
}
#prev {
  left: 20px;
  border-radius: 0 5px 5px 0;
}
#next {
  right: 20px;
  border-radius: 5px 0 0 5px;
}
.dots {
  width: 100%;
  position: absolute;
  z-index: 20;
  bottom: 2%;
  text-align: center;
}
.dots__single {
  width: 40px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.dots-current {
  opacity: 1;
}

//-------- Top Page --------
//------ MAIN
.top-mainmain {
  padding-top: 40px;
  padding-bottom: 60px;
  width: 100%;
  height: auto;
  background-color: rgb(27, 39, 56);
}
.top-main {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  height: auto;
  background-color: rgb(23, 35, 60);
}
.top-page {
  &__title {
    color: #eee;
    font-size: 20px;
    margin-bottom: 30px;
  }
  &__subtitle {
    //background: #333;
    &--text {
      width: 100%;
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      padding-top: 20px;
      height: 70px;
      text-align: center;
      line-height: 30px;
      font-size: 20px;
      color: #bbb;
      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 35%;
        display: inline-block;
        height: 2px;
        background: #888;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
#js-toggle-menu {
  cursor: pointer;
}
#js-toggle-menu2 {
  cursor: pointer;
}
#js-toggle-menu3 {
  cursor: pointer;
}
#js-toggle-menu-rank {
  cursor: pointer;
}
.search-select-boxes {
  &__toggle-menu {
    display: none;
  }
  &__toggle-menu2 {
    display: none;
  }
  &__toggle-menu3 {
    display: none;
  }
  &__toggle-menu-rank {
    display: none;
  }
  &__data-box {
    margin: 20px auto;
    height: 300px;
    width: 80%;
    color: #fff;
    font-weight: bold;
    border: 1px solid #000;
    background-image: url(img/top_data.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      color: #880000;
      font-weight: bold;
    }
  }
  &__main-text {
    margin-left: 1em;
    margin-top: 5em;
  }
  &__budget-box {
    margin: 20px auto;
    height: 250px;
    width: 80%;
    font-weight: bold;
    color: #000;
    border: 1px solid #000;
    background-image: url(img/top_price.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      color: #880000;
      font-weight: bold;
    }
  }
  &__genre-box {
    margin: 20px auto;
    height: 250px;
    width: 95%;
    color: #fff;
    font-weight: bold;
    border: 1px solid #000;
    background-image: url(img/top_genre.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:hover {
      color: #880000;
      font-weight: bold;
    }
  }
  &__area-box {
    margin: 20px auto;
    height: 250px;
    width: 95%;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    background-image: url(img/top_area.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      color: #880000;
      font-weight: bold;
    }
  }
  &__age-box {
    margin: 20px auto;
    height: 250px;
    width: 95%;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    background-image: url(img/top_age.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      color: #880000;
      font-weight: bold;
    }
  }
  &__nation-box {
    margin: 20px auto;
    height: 250px;
    width: 95%;
    color: #000;
    font-weight: bold;
    border: 1px solid #000;
    background-image: url(img/top_nation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &:hover {
      color: #880000;
      font-weight: bold;
    }
  }
  &__big-text {
    margin-top: 130px;
    margin-right: 400px;
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    background-color: #000;
    border-radius: 50px;
    opacity: 0.8;
  }
  &__text {
    margin-top: 130px;
    margin-right: 150px;
    color: #fff;
    font-weight: bold;
    background-color: #000;
    border-radius: 50px;
    opacity: 0.8;
  }
  &__text p {
    font-size: 10px;
  }
}

//------ SIDEBAR
.rank-page {
  &__subtitle {
    //background: #333;
    &--text {
      width: 100%;
      position: relative;
      display: inline-block;
      margin-bottom: 10px;
      padding-top: 20px;
      height: 70px;
      text-align: center;
      line-height: 30px;
      font-size: 20px;
      color: #bbb;
      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 35%;
        display: inline-block;
        height: 2px;
        background: #888;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
.sidebar-outline {
  margin-top: 20px;
  padding-top: 15px;
  height: 600px;
  width: 100%;
  background-color: #333;
  &__search-title-box {
    padding-left: 5px;
    &--more {
      position: relative;
      display: inline-block;
      padding-left: 20px;
      line-height: 20px;
      margin-right: 5px;
      font-size: 20px;
      color: #fff;
      &::before {
        content: '';
        width: 10px;
        height: 10px;
        border: 0px;
        border-top: solid 2px #5bc0de;
        border-right: solid 2px #5bc0de;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -4px;
      }
    }
  }
  &__ranking-box {
    margin-top: 20px;
    color: #333;
  }
  &__rank-body-boxes {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
    height: 500px;
    width: 90%;
    background-color: #666;
    color: #fff;
    border: 1px solid #333;
  }
  &__rank-body-box {
    margin-top: 10px;
    height: 200px;
  }
  &__post-like-rank {
    &--title {
      margin-bottom: 20px;
      font-size: 30px;
    }
    &--title span {
      font-size: 15px;
    }
    &--body {
      margin-bottom: 10px;
    }
    &--big {
      font-size: 30px;
    }
    &--no {
      margin-top: 50px;
      font-size: 30px;
      color: #ff8856;
    }
  }
}
.rank-bottom {
  margin-bottom: 30px;
}

//------ RANK
.rank-box {
  margin: 0 auto;
  height: 200px;
  &__margin-bottom {
    margin-bottom: 20px;
    padding: 5px;
  }
  &__number {
    padding-left: 10px;
    font-size: 20px;
  }
  &__box {
    text-align: center;
    margin-bottom: 20px;
  }
  &__image-box {
    width: 70%;
    height: 100px;
    border: 3px solid #333;
    text-align: center;
    &--pic {
      width: 100%;
      height: 100px;
    }
  }
  &__icon-box {
    padding-top: 10px;
    width: 70%;
    height: 70px;
    border: 3px solid #333;
    text-align: center;
    background: #2f4f4f;
  }
  &__icon {
    padding: 1px;
  }
  &__bookmark-icon {
    padding: 10px;
  }
  &__bookmark-count {
    padding: 10px;
  }
  &__table, th {
    background: #222;
  }
  &__table, td {
    background: #fff;
    color: #000;
  }
}
