// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*----- Index -----*//
.post-page-bg {
  padding: 30px;
  width: 100%;
  height: auto;
  background-color: rgb(27, 39, 56);
}
.post-index {
  &__subtitle {
    margin: 20px 0;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 20px;
    height: 70px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: #eee;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 30%;
      display: inline-block;
      height: 2px;
      background: #888;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    &:hover {
      color: #fff;
    }
  }
}

//*---- Preview @NewPage
.preview {
  width: 200px;
  height: 100px
}
li {
  list-style: none;
}
.post-new-form {
  height: 800px;
  background-image: url(img/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
  text-align: center;
  color: white;
  }
  &__image {
  margin: 0 auto;
  width: 50%;
  height: 200px;
  padding: 5px;
  border: 3px solid #000000;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  background-color: #004400;
  color: #fffacd;
  }
  &__others {
  margin: 0 auto;
  width: 50%;
  height: 500px;
  padding: 50px;
  border: 3px solid #000000;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  background-color: #dddddd;
  }
}


//----- Post Partial
.post-index-box {
    margin: 10px auto;

  &__image {
    width: 90%;
    height: 145px;
    border: 3px solid #333;
    border-radius: 50px 50px 0 0 / 50px 50px;

    &--pic {
      width: 100%;
      height: 145px;
      border-radius: 50px 50px 0 0 / 50px 50px;
    }
  }

  &__detail {
    margin-bottom: 20px;
    width: 90%;
    height: 230px;
    border: 1px solid #333333;
    background: #ccc;
    color: #222;
  }
  &__detail-element {
    height: 150px;
  }
  &__detail-element-name {
      height: 40px;
      font-weight: bold;
      font-size: 25px;
  }
  &__detail-element-others {
    padding: 10px 0 0 5px;
    &--title {
      padding-bottom: 5px;
      margin-bottom: 5px;
      margin-right: 10px;
      border-bottom: 1px solid #777;
    }
    &--genre {
      margin-bottom: 3px;
    }
    &--pref {
      margin-bottom: 3px;
    }
    &--time {
      margin-bottom: 3px;
    }
  }
  &__detail-icon {
    margin-top: 10px;
  }
  &__detail-icon-like {
    &--icon {
      margin-left: 10px;
    }
    &--count {
      margin-left: 10px;
    }
  }
  &__detail-icon-comment {
    &--icon {
    }
    &--count {
    }
  }

}

//*----- Show -----*//
.post-show-main {
  margin: 0 auto;
  width: 100%;
  color: #ddd;
  &__table {
    margin-top: 80px;
    margin-left: 50px;
  }
  &__table th {
    background: #222;
    color: #ddd;
  }
  &__table td {
    background: #fff;
    color: #000;
  }
  &__detail {
    padding: 25px 0 0 20px;
    background-color: #d9e5ff;
    height: 1200px;
    border-left: 10px double #2f4f4f;
  }
  &__color {
    color: #000;
  }
  &__box {
    margin-left: 30px;
  }
  &__image {
    margin: 30px auto;
  }
  &__new-form {
    margin: 0 auto;
  }
  &__comment-form {
    margin-left: 30px;
  }
  &__detail-form {
    margin-left: 50px;
  }
  &__top-btn {
    margin-top: 20px;
  }
}
.post-show-comment {
  width: 100%;
  margin-top: 30px;
  margin-left: 10px;
  color: #ddd;
}
.post-show-new-form {
  margin-top: 30px;
  &__form {
    margin-left: 50px;
    padding: 50px;
    height: 400px;
    width: 90%;
    background-color: #b0c4de;
  }
}
.comm-btn {
  margin-right: 10px;
}

//*----- Edit -----*//
.post-edit-page-bg {
  padding: 0;
  width: 100%;
  height: 1410px;
  background: rgb(80, 126, 149);
}
//*----- Sidebar
.post-sidebar {
  padding-bottom: 20px;
  padding-right: 20px;
  height: 500px;
  &__image {
    margin: 15px 0 15px 30px;
  }
  &__detail {
    margin-left: 10px;
    margin-bottom: 50px;
  }
  &__detail th {
    background: #222;
    color: #ddd;
  }
  &__detail td {
    background: #fff;
    color: #000;
  }
  &__btn {
    margin-left: 30px;
    margin-top: 25px;
  }
}
//*----- Edit Form
.post-main {
  margin: 0 auto;
  width: 100%;
  &__detail {
    padding: 25px 0 0 20px;
    height: 1400px;
    border-left: 10px double #2f4f4f;
    background-color: rgb(27, 39, 56);
  }
  &__color {
    //color: #ddd;
    color: rgb(55, 139, 246);
    font-size: 15px;
  }
  &__box {
    margin-left: 30px;
    padding: 50px;
  }
  &__new-form {
    margin: 0 auto;
  }
  &__comment-form {
    margin-left: 30px;
  }
  &__detail-form {
    margin-left: 50px;
  }
  &__top-btn {
    margin-top: 20px;
  }
}
.btn-icon-color {
  color: white;
}

//----- Album Browse Modal
#js-album-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}

.modal-album-box {
  width: 100%;
  height: calc(100% - 30px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.post-album-form {
  margin: 80px auto;
  height: 800px;
  width: 90%;
  background-color: rgb(74, 116, 143);
  color: #333;
  &__title {
    padding-left: 50px;
    &--btn {
      margin-top: 30px;
    }
  }
  &__title button {
    border-radius: 50%;
  }
  &__form {
    padding-left: 50px;
    &--btn {
      margin-top: 30px;
    }
  }
}

//----- Album Modal Partial
.post-album-box {
    margin: 10px auto;
  &__book {
    margin: 0 10px 0 10px;
    height: 155px;
    width: 100%;
    background-color: #004400;
    border: 3px solid #000000;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
  }
  &__image {
    margin: 0 auto;
    padding: 5px 3px 3px 5px;
    height: 150px;
    width: 100%;
    border-right: 3px solid #000000;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    background-color: #004400;
    &--content {
      margin-top: 3px;
      margin-bottom: 3px;
      padding-left: 10px;
      height: 130px;
      background-color: #ddd;
    }
    &--pic {
      padding-top: 15px;
      margin-bottom: 10px;
    }
  }
  &__detail {
    margin: 0 auto;
    padding: 5px 3px 3px 5px;
    height: 150px;
    width: 100%;
    border-left: 3px solid #000000;
    border-top-left-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    background-color: #004400;
    &--content {
      margin: 1px;
      height: 130px;
      background-color: #ddd;
    }
  }
  &__detail-element {
    height: 25px;
  }
  &__detail-element-others {
    padding: 10px 0 0 0;
    &--title {
      padding-bottom: 3px;
      margin-bottom: 3px;
      border-bottom: 1px solid #777;
    }
    &--item {
      margin-bottom: 5px;
    }
    &--genre {
      margin-bottom: 10px;
    }
    &--budget {
      margin-bottom: 10px;
    }
  }
  &__detail-icon {
    margin-top: 5px;
  }
  &__detail-icon-bookmark {
    &--icon {
    }
    &--count {
    }
  }
}

//*----- Detail-Image
#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #75a9ff;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  margin-left: 150px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #75a9ff;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

//*----- Comment
.post-comment-box {
  margin-right: 30px;
  width: 100%;
  & th {
    background-color: rgb(82, 146, 171);
    color: #ddd;
  }
  & td {
    background-color: rgb(54, 121, 118);
    color: #ddd;
  }
  &__title {
    font-weight: bold;
    font-size: 15px;
  }
}
