// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*----- Sidebar -----*/
.post-sidebar {
  padding-bottom: 20px;
  margin-right: 20px;
  &__edit {
    background-color: #ffffccc;
  }
}
/*----- Detail -----*/
.post-main {
  margin: 0 auto;
  width: 80%;
  &__detail {
    background-color: #2F4F4F;
    height: 1000px;
  }
  &__color {
    color: #fff8dc;
  }
  &__box {
    margin-left: 30px;
  }
  &__image {
  }
  &__new-form {
    margin: 0 auto;
  }
  &__comment-form {
    margin-left: 30px;
  }
  &__detail-form {
    margin-left: 50px;
  }
  &__top-btn {
    margin-top: 20px;
  }
}
.btn-icon-color {
  color: white;
}

/*----- Detail-Image -----*/
#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #75a9ff;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  margin-left: 150px;
  color: #aaa;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #75a9ff;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

/*----- Comment -----*/
.post-comment-box {
  magin: 0 auto;
  &__user-name {
    background-color: #008080;
    color: #ffffff;
  }
  &__rate {
  }
  &__title {
  }
  &__comment {
  }
}
