// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-page-bg {
  padding: 40px;
  width: 100%;
  height: auto;
  background-color: rgb(27, 39, 56);
}
.search-page-bg h1 {
  color: #ddd;
}
.search-condition {
  margin-top: 15px;
  padding: 20px;
  &__text {
    color: #222;
    font-size: 20px;
  }
  &__subtitle {
    margin: 20px 0;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 20px;
    height: 70px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: #eee;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 40%;
      display: inline-block;
      height: 2px;
      background: #888;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    &:hover {
      color: #fff;
    }
  }
}
