// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//-------- Registration Page --------//
.regi-box {
  margin-top: 30px;
  margin-bottom: 30px;
}
//-------- Session Page --------//
.login-box {
  &__mail {
    margin-top: 50px;
    font-size: 20px;
  }
  &__pass {
    margin-top: 30px;
    font-size: 20px;
  }
  &__remember {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__link {
    margin-top: 30px;
  }
  &__button {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      top:100%;
      left: 0;
      border-radius: 3px;
      background:#67c5ff;
      transition: .2s;
    }
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      top:0;
      left: 0;
      border-radius: 3px;
      background:#67c5ff;
      transition: .2s;
    }
    &:hover {
      color: #0000cd;
    }
    &:hover:before {
      top: -webkit-calc(100% - 3px);
      top: calc(100% - 3px);
    }
    &:hover:after {
      top: 3px;
    }
  }
}
input[type="email"] {
        width: 400px;
        height: 50px;
}
input[type="password"] {
        width: 400px;
        height: 50px;
}
//-------- Show Page --------//
.user-page-bg {
  padding: 15px;
  width: 100%;
  height: auto;
  background-color: rgb(27, 39, 56);
}
.user-show {
  &__font-white {
    color: #ddd;
  }
}
//----- calendar
#calendar {
  margin: 20px 0 50px 10px;
  width: 90%;
  background-color: rgb(23, 45, 70);
  color: #eee;
}
.fc-sat {
  color: blue;
  //background-color: #f0f0ff;
  background: rgb(104, 153, 186);
}
.fc-sun {
  color: red;
  //background-color: #fff0f0;
  //background: rgb(195, 109, 130);
  background: rgb(205, 128, 161);
}
.fc-today {
  background-color: #f3f3f3 !important;
  color: #000;
  font-weight: bold;
}
.fc-left button, .fc-right button {
  background: rgb(23, 140, 164);
}
.fc-right .fc-prev-button, .fc-right .fc-next-button {
  background-color: #262626;
  color: white;
  background-color: black;
  background-image: none;
  border: none;
}
.fc-time{
  display : none;
}
//----- form-box
.event-form {
  margin: 80px auto;
  height: 500px;
  width: 60%;
  background-color: rgb(51, 123, 161);
  color: #333;
  &__title {
    padding-left: 50px;
    &--btn {
      margin-top: 30px;
    }
  }
  &__title button {
    border-radius: 50%;
  }
  &__form {
    padding-left: 50px;
    &--btn {
      margin-top: 30px;
    }
  }
}
.user-detail-box {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  color: #ddd;
  &__img {
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &__item:nth-child(6) {
    margin-bottom: 20px;
  }
}
.mypage-setting {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80%;
  height: 150px;
  &__part {
    text-align: center;
  }
  &__text h4 {
    margin-top: 20px;
    color: #fff;
    font-size: 15px;
  }
  &__icon i {
    margin-top: 10px;
    font-size: 50px;
  }
  &__icon .fa-book, &__icon i {
    color: rgb(42, 122, 68);
  }
  &__icon .fa-cogs, &__icon i {
    color: rgb(223, 153, 69);
  }
  &__icon .fa-signature, &__icon i {
    color: rgb(51, 65, 201);
  }
}

.mypage-status {
  margin-top: 30px;
  padding-top: 5px;
  padding-left: 10px;
  width: 80%;
  height: 160px;
  border: 3px solid rgb(82, 108, 161);
  background-color: rgb(82, 128, 161);
  &__got {
  }
  &__gave {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 3px solid  #888;
  }
  &__icon {
    margin-left: 10px;
    & .glyphicon-thumbs-up {
      color: #ff8856;
    }
    & .glyphicon-comment {
      color: #ddd;
    }
    & .glyphicon-bookmark {
      color: #0000cd;
    }
  }
  &__count {
    padding-left: 30px;
    &--bookmark {
      margin-left: 10px;
      color: #eee;
    }
  }
}

.mypage-post-list {
  margin-top: 30px;
  &__title {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 20px;
    height: 70px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #bbb;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 25%;
      height: 2px;
      display: inline-block;
      background: #888;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    &:hover {
      color: #fff;
    }
  }
}

.user-cal-history {
  margin-top: 50px;
  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ddd;
    font-size: 20px;
    font-weight: bold;
  }
  &__items {
    color: #ddd;
    font-size: 15px;
  }
  &__item {
    margin-top: 10px;
  }
}

//-------- Withdraw Page --------//
.withdraw-page-bg {
  padding-bottom: 400px;
  width: 100%;
  height: auto;
  background-color: rgb(27, 39, 56);
}
.withdraw-top {
  padding-top: 100px;
  color: #ddd;
}
.withdraw-text p {
  font-size: 20px;
}
.withdraw-text span {
  color: red;
  font-weight: bold;
}
.withdraw-btn {
  margin-top: 100px;
  color: #ddd;
}


//-------- Edit Page --------//
.user-edit-page-bg {
  padding: 0;
  width: 100%;
  height: 1200px;
  background: rgb(80, 126, 149);
}
.user-sidebar {
  padding-bottom: 20px;
  padding-right: 20px;
  height: 500px;
  &__image {
    margin: 15px 0 15px 30px;
  }
  &__img {
    border-radius: 50%;
  }
  &__detail {
    margin: 30px auto;
  }
  &__detail th {
    background: #222;
    color: #ddd;
  }
  &__detail td {
    background: #fff;
    color: #000;
  }
  &__btn {
    margin-left: 30px;
    margin-top: 25px;
  }
}
.user-main {
  margin: 0 auto;
  width: 100%;
  &__detail {
    padding: 25px 0 0 20px;
    height: 1200px;
    border-left: 10px double #2f4f4f;
    background-color: rgb(27, 39, 56);
  }
  &__color {
    color: #ddd;
  }
  &__box {
    margin-left: 30px;
    padding: 50px;
  }
  &__new-form {
    margin: 0 auto;
  }
  &__comment-form {
    margin-left: 30px;
  }
  &__detail-form {
    margin-left: 50px;
  }
  &__top-btn {
    margin-top: 20px;
  }
}
.update-btn {
  margin-bottom: 30px;
}
