/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
/*-------- Bootstrap Sass --------*/
@import "bootstrap-sprockets";
@import "bootstrap";
/*-------- Calendar For --------*/
@import "bootstrap-datetimepicker";
/*----------- Partial -----------*/
@import "bookmarks";
@import "genres";
@import "homes";
@import "likes";
@import "posts";
@import "albums";
@import "searches";
@import "users";
@import "prefectures";
@import "analyses";

//*----------- Common -----------*//
* {
  box-sizing: border-box
}

.wrapper {
  margin-top: 50px;
}
.top-wrapper {
  margin-left: 40px;
}
.form-window {
  margin-bottom: 20px;
}
.form-submit {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}

//*-------- ModalWindow --------*//
#js-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}

#js-modal-window {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .modal-message-box {
    width: 100%;
    height: calc(100% - 60px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #js-modal-close-btn {
    width: 50%;
    height: 60px;
  }
  #js-delete-confirmation-btn {
    width: 50%;
    height: 60px;
  }
  .modal-delete-btn {
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    background: rgb(255, 79, 47);
    color: #ddd;
  }
}

//*-------- ErrorHandling --------*//
.error-box{
  margin-top: 30px;
  width: 100%;
  //height: 300px;
  &__title {
    color: #fff;
    background-color: #cc0000;
    padding: 10px;
  }
  &__title-text {
    //background-color: #ff0000;
    width: 90%;
    font-size: 15px;
  }
  &__text {
    line-height: 1.5;
  }
  &__text:first-child {
    padding-top: 15px;
  }
  &__text:last-child{
    padding-bottom: 15px;
  }
  &__text li {
    list-style-type: square;
  }
  &__text-text {
    padding: 10px;
    font-size: 13px;
    background-color: #eeeeee;
    // padding: auto;
  }
}




//----- Title text
h1 {
  position: relative;
  line-height: 1.4;
  padding: 0.25em 1em;
  display: inline-block;
  top: 0;
}

h1:before, h1:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}
h1:before {
  border-left: solid 5px #ddd;
  border-top: solid 5px #ddd;
  border-bottom: solid 5px #ddd;
  left: 0;
}
h1:after {
  content: '';
  border-top: solid 5px #ddd;
  border-right: solid 5px #ddd;
  border-bottom: solid 5px #ddd;
  right: 0;
}

//----- Subtitle text
h2 {
  position: relative;
  line-height: 1.4;
  display: inline-block;
}

h2:before, h2:after {
  position: relative;
  font-family: "FontAwesome";
  display: inline-block;
  font-size: 1.0em;
  color: #ff6a6a;
}
h2:before {
  content:"\f100";
  padding-right: 0.5em
}
h2:after {
  content:"\f101";
  padding-left: 0.5em
}

//----- Parttitle text
h3 {
  position: relative;
  line-height: 1.4;
  display: inline-block;
}

h3:before, h3:after {
  position: relative;
  font-family: "FontAwesome";
  display: inline-block;
  font-size: 1.0em;
  color: #5d99ff;
}
h3:before {
  content:"\f10d";
  padding-right: 0.5em
}
h3:after {
  content:"\f10e";
  padding-left: 0.5em
}

//*----------- NavBar -----------*/
.common-bar {
  background-color: #eee;
  display: block;
  &__time-line {
    padding: 5px 0 5px 10px
  }
  &__time-text {
    padding-left: 10px;
    color: #888;
  }
  &__title-line {
  }
  &__title-box {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
  }
  &__title-text {
    margin: 0 auto;
    &--title {
      font-size: 4em;
      //font-family: Impact, Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
      font-family: 'Playfair Display', Impact, Chalkduster, selfif;
      display: inline-block;
    }
    &--icon {
      width: 20px;
      height: 20px;
      margin-top: 10px;
      border-radius: 50%;
      background-color: red;
      display: inline-block;
    }
  }
  &__link-box {
    margin: 0 auto;
  }
  &__link-text {
    display: inline-block;
    margin: 10px 20px 10px 0;
  }
}

//*----------- Searchbar -----------*/
#search-icon {
  cursor: pointer;
}
.search-nav {
  margin: 0 auto;
  width: 100%;
  background-color: #555;
  &__bar {
    padding: 30px;
    margin: 0 auto;
  }
  &__title {
    color: #fff;
    margin-top: 10px;
  }
  &__form {
    margin-top: 5px;
  }
  &__form-element {
    margin-left: 5px;
  }
  &__form-btn {
    margin-left: 10px;
  }
  &__or {
    color: white;
  }
}

//*----------- Notification -----------*/
.notification {
  line-height: 2.5;
  color: #fff;
  text-align: center;
  &__notice {
    height: 50px;
    background-color: #2c7cff;
    font-size: 20px;
  }
  &__alert {
    height: 50px;
    background-color: #ff6928;
    font-size: 20px;
  }
}
//*----------- Pagination -----------*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  background: #DDDDDD;

  &:hover {
    border-radius: 15px;    /*角を丸くする*/
  }
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #990000;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}


//*----------- Tab Menu -------------*/
.tab-menu {
  margin-top: 70px;
}
.tab-menu a {
  width: 120px;
  font-size: 15px;
}
.nav-tabs {
  border-bottom: 1px solid #d3d3d3;
}
.nav-tabs .active {
  background-color: #d3d3d3;
  border-top: 5px solid #d3d3d3;
  border-right: 5px solid #d3d3d3;
  border-left: 5px solid #d3d3d3;
}
.nav-tabs a {
  height: 50px;
}
